/*********************************************************************************/
/* About							var(--gradient)								*/
/*********************************************************************************/
	
	.aboutFrameOuter.closed
	{
		display: none;
	}
	
	.aboutFrameOuter
	{
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		background-color: rgba(0, 0, 0, 0.95);
		width: 40%;
		padding: 5px;
		border: 2px solid var(--aboutFrame);
		font-size: 2rem;
		z-index: 101;
	}
	
	.aboutFrameOuter:before, .aboutFrameOuter:after
	{
		content: "•";
		position: absolute;
		width: 14px;
		height: 14px;
		font-size: 14px;
		color: var(--aboutFrame);
		border: 2px solid var(--aboutFrame);
		line-height: 12px;
		top: 5px;
		text-align: center;
	}
	
	.aboutFrameOuter:before
	{
		left: 5px;
	}
	
	.aboutFrameOuter:after
	{
		right: 5px;
	}
	
	.aboutFrameOuter .aboutFrame
	{
		position: relative;
		border: 2px solid var(--aboutFrame);
		padding: 40px;
	}
	
	.aboutFrameOuter .aboutFrame:before, .aboutFrameOuter .aboutFrame:after
	{
		content: "•";
		position: absolute;
		width: 14px;
		height: 14px;
		font-size: 14px;
		color: var(--aboutFrame);
		border: 2px solid var(--aboutFrame);
		line-height: 12px;
		bottom: -2px;
		text-align: center;
	}
	
	.aboutFrameOuter .aboutFrame:before
	{
		left: -2px;
	}
	 .aboutFrameOuter .aboutFrame:after
	{
		right: -2px;
	}
	
	.aboutFrame div
	{
		display: flex;
		position: relative;
		width: 100%;
		align-items: center;
		margin-top: 20px;
	}
	
	.aboutFrame img
	{
		height: 30px;
		width: 30px;
		margin-left: 20px;
	}
	
	.aboutFrame img[href]:hover
	{
		cursor: pointer;
		filter: brightness(1.75);
	}
	
	.aboutFrame img:not([href])
	{
		cursor: auto;
		filter: brightness(0.5);
	}