	.avatar
	{
		height: 40px;
		margin-right: 1rem;
		width: 40px;
	}
	
	[data-title]:hover:after {
		opacity: 1;
		transition: all 0.1s ease 0.5s;
		visibility: visible;
	}
	
	[data-title]:after {
		content: attr(data-title);
		background-color: rgba(0, 0, 0, 0.85);
		border: #c0c0c0 1px solid;
		border-radius: 8px;
		left: 10px;
		margin: 5px;
		max-width: 300px;
		opacity: 0;
		padding: 5px 20px 5px 5px;
		position: absolute;
		text-decoration: none;
		visibility: hidden;
		width: max-content;
		z-index: 99999;
		
	}
	
	[data-title] {
		position: relative;
	}
	
	
/*********************************************************************************/
/* Loading Icon																  */
/*********************************************************************************/
	.placeholder
	{
		display:flex;
		position: absolute;
		height: 10vh;
		width: 10vw;
		z-index: 100;
	}
	
	.loader-wrapper
	{
		display: flex;
		height: 108vh;
		justify-content: center;
		margin-top: -2%;
		margin-bottom: -2%;
		position: fixed;
		width: 100vw;
		z-index: 98;
	}
	
	.loader
	{
		animation: loader 2s infinite ease;
		border: 4px solid #Fff;
		display: inline-block;
		height: 50px;
		justify-content: center;
		margin-top: 50vh;
		position: sticky;
		width: 50px;
	}

	.loader-inner
	{
		animation: loader-inner 2s infinite ease-in;
		background-color: #fff;
		display: inline-block;
		vertical-align: top;
		width: 100%; 
	}

	@keyframes loader
	{
		0% { transform: rotate(0deg);}
		25% { transform: rotate(180deg);}
		50% { transform: rotate(180deg);}
		75% { transform: rotate(360deg);}
		100% { transform: rotate(360deg);}
	}

	@keyframes loader-inner
	{
		0% { height: 0%;}
		25% { height: 0%;}
		50% { height: 100%;}
		75% { height: 100%;}
		100% { height: 0%;}
	}	
	
/*********************************************************************************/
/* view DIM																  */
/*********************************************************************************/

	.viewDIM
	{
		display: none;
		width: 100%;
		height: 100%;
		padding: 1rem;
		z-index: 1;
		transition: all 0.5s ease;
		position: fixed;
	}
	
	.viewDIM.open
	{
		display: grid;
	}