.list-header-playername {
	font-weight: 400;
	font-size: 2rem;
	text-shadow: 0.05rem 0.05rem #11101d;
}

.list-char {
    display: flex;
	float: left;
}

.list-char-img {
	position: relative;
	width: 474px;
	height: 96px;
	justify-content: end;
}

.list-char-cls {
	position: absolute;
	top: 10%;
	left: 30%;
	font-weight: 400;
	font-size: 1.5rem;
	text-shadow: 0.05rem 0.05rem #11101d;
}

.list-char-pwr {
	position: absolute;
	top: 10%;
	right: 10%;
	font-weight: 400;
	font-size: 2rem;
	color: #FFFF97;
	text-shadow: 0.05rem 0.05rem #11101d;
}

.list-header-catergory {
	font-weight: 400;
	font-size: 1rem;
	text-shadow: 0.05rem 0.05rem #11101d;
	
}

.itemFrame {
	position: relative;
	float: left;
	height: 80px; 
	width: 80px; 
	z-index: 0;
}

.itemImage {
	height: 70px;
	width: 70px;
	margin: 5px 5px;
	border: 5px solid white;
	border-radius: 10%;
}

.chk_div {
	height: 20px;
	width: 20px;
	z-index: 1;
}

.chk_img {
	position:absolute;
	top: 0;
	right: 0;
	height: 16px;
	width: 16px;
}