@charset 'UTF-8';
@import './conf.css';
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

    *
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		scroll-behavior:smooth;
		accent-color: #BA25F6;
	}
	
	body
	{
		background-position: center top;
		background: var(--gradient);
		background-size: cover;
		color: #fff;
		font-family: 'Poppins';
		font-weight: 200;
		position: relative;
	}
	
    body:after
		{
			background: url('images/overlay.png');
            content: '';
			height: 100%;
			left: 0;
            position: absolute;
			top: 0;
			width: 100%;		
		}

	a
	{
		color: #fff;
		color: rgba(255,255,255,0.85);
	}

	h1
	{
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: thin;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        padding-bottom: 1rem;
        padding-top: 2.5rem;
        text-align: center; 
	}
	
	h2,h5,h6
	{
        color: #fff;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;  
	}
	
	h3
	{
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
	}
	
	strong, b
	{
		font-weight: 300;
	}
	
	[data-title]:hover:after {
		opacity: 1;
		transition: all 0.1s ease 0.5s;
		visibility: visible;
	}
	
	[data-title]:after {
		content: attr(data-title);
		background-color: rgba(0, 0, 0, 0.85);
		border: #c0c0c0 1px solid;
		border-radius: 8px;
		left: 10px;
		margin: 5px;
		max-width: 300px;
		opacity: 0;
		padding: 5px 20px 5px 5px;
		position: absolute;
		text-decoration: none;
		visibility: hidden;
		width: max-content;
		z-index: 99999;
		
	}
	
	[data-title] {
		position: relative;
	}
    
	
/*********************************************************************************/
/* Classes                                                                       */
/*********************************************************************************/
	
	.avatar
	{
		height: 40px;
		margin-right: 1rem;
		width: 40px;
	}
	
	.charItemBucket {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}
	
	.charItems {
		width: 474px;
	}
	
	.charList
	{
		display:flex;
		justify-content: space-evenly;
	}
	
	.charEmblemImg
    {
        height: 96px;
        position: relative;
        width: 474px;
    }
    
    .charEmblemClass
    {
        font-size: 1.5rem;
        font-weight: 400;
        position: absolute;
        text-shadow: 0.05rem 0.05rem #11101d;
        left: 20%;
        top: 10%;    
    }
    
    .charEmblemLvl
    {
        color: #FFFF97;
        font-size: 2rem;
        font-weight: 400;
        position: absolute;
        right: 4%;
        top: 4%;
        text-shadow: 0.05rem 0.05rem #11101d;
    }
	
	.charItemsEquip {
		z-index: 1;
		position: relative;
	}
	
	.charItemsInv
	{
		display: table;
	}
    
    .charStats
	{
		background: rgba(200, 200, 200, .1);
		display: flex;
		justify-content: center;
		text-align: center;
		width:474px;
	}
	
	.charStats img
    {
		vertical-align: middle;
        cursor: help;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.1rem;
    }
	
    .exo-armor-bucket
	{
		display: flex;
		justify-content: space-evenly;
	}
	
	.exo-armor-class
	{
		width: 33%;
	}
	
	.exo-weapons
    {
        float: left;
    }
	
	.headline-armor-bucket
	{
		color: #fff;
        font-size: 1rem;
        font-weight: 400;
		line-height: 3rem;
        text-align: left;	
	}
	
	.headline-armor-class
	{
		color: #fff;
        font-size: 1.2rem;
        font-weight: 400;
		line-height: 3rem;
        text-align: center;
	}
	
	.headline-weapon-bucket
	{
		color: #fff;
        font-size: 1.2rem;
        font-weight: 400;
		line-height: 3rem;
        text-align: left;	
	}
	
    .itemIconContainer
    {
        cursor: help;
        float: left;
        height: 80px;
        position: relative;
        width: 80px;
    }
    
    .itemIconContainer > img, .itemIconContainer.master > img
    {
        border-radius: 10%;
        height: 70px;
        margin: 5px 5px;
        vertical-align: middle;
        width: 70px;
    }
	
	.itemIconContainer.master > img
	{
		box-shadow: 1px 1px 4px #ffcb00;
	}
	
	.itemIconContainer > img.cross
    {
        opacity: 50%;
    }
	
	.itemIconContainerEnergy
	{
		height: 0.85rem;
		margin-bottom: 2px;
		vertical-align: middle;
		width: 0.85rem;
	}
	
	.itemIconContainerInfo
    {
        height: 70px;
		margin-left: 5px;
		margin-top: -75;
		position: absolute;
		width: 70px;
    }
	
	.itemIconContainerInfo.equipped
	{
		border: double white;
		border-radius: 10%;
	}
    
	.itemIconContainerLvl
	{
		background-color: rgba(0,0,0,0.5);
		border-bottom-left-radius: 6.5px;
		font-size: 0.8rem;
		font-weight: 400;
		margin-left: 5px;
		margin-top: -24px;
		padding-left: 8px;
		padding-right: 5px;
		position: absolute;
		width: max-content;
	}
    
    .itemIconStatus
    {
        position:absolute;
        right: 0;
        top: 0; 
        z-index: 1;
    }
    
    .itemIconStatus > img
    {
         height: 20px;
         width: 20px;
    }
	
	.item-list
	{
		float: left;
	}
	
	.language-options
	{
		background-color: var(--grad1);
		border-radius: 12px;
		color: white;
		display: none;
		left: var(--sidebar-width);
		position: absolute;
		text-align: center;
		top: 1rem;
		width: 15rem;
	}
	
	.language-options.open
	{
		display: block;
	}
	
	.lang-opt
	{
		cursor: pointer;
		line-height: 3rem;
	}
	
	.lang-opt:hover, .lang-opt.act
	{
		background-color: var(--grad2);
		border-radius: 12px;
		color: black;
	}
	
	#lang-btn
	{
		cursor: pointer;
		position: absolute;
		right: 6rem;
		text-align: right;
		font-size: 11px;
	}
	
	.platformLogo
	{
		 height: 20px;
         width: 20px;
	}
	
	.playerBucket
	{
		margin-left: -75px;
	}
	
	.playerHeaderFrame
	{
		width: 100%;
		border-bottom: 1px solid var(--grad1);
		background: rgba(0, 0, 0, .2);
	}
	
	.playerHeader
	{
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        padding-top: 0.4rem;
        z-index: 97;
    }
	
	.playerHeader img
	{
		width: 50px;
		height: 50px;
		margin-right: 20px;
		vertical-align: middle;
		
	}
	
	.playerHeaderSub
	{
        text-align: center;
        font-size: 1rem;
        font-weight: 40;
		vertical-align: top;
	}
	
	.playerHeaderSub img
	{
		width: 20px;
		height: 20px;
		margin-left: 5px;
		vertical-align: top;
		
	}
	
	.playerMain
	{
		border: 2px solid var(--grad1);
		border-radius: 10px;
		background: rgba(0, 0, 0, .2);
		height: max-content;
		width: 100%;
	}

	.vaultItems
	{
		display: inline-block;
	}
	
/*********************************************************************************/
/* view Classes                                                                  */
/*********************************************************************************/

	.viewMain, .viewFireteam, #main
	{
		display: grid;
		width: 100%;
		padding-top: 1rem;
		z-index: 1;
		transition: 1s;
		position: absolute;
	}
	
	.viewMain.open ~ .viewFireteam
	{
		top: 0;
		height: 100%;
	}
	
	.viewFireteam.open ~ .viewMain
	{
		top: 0;
		height: 100%;
	}

	.viewMain.open
	{
		display: grid;
		height: 100%;
	}

	.viewFireteam.open
	{
		display: grid;
		height: 100%;
	}
	
	.viewMain
	{
		display: none;
		height: 0%;
	}

	.viewFireteam
	{
		display: none;
		height: 0%;
	}

/*********************************************************************************/
/* Sidebar (currently used)                                                      */
/*********************************************************************************/
	
	.sidebar.open ~ #Main
	{
		left: var(--sidebar-width);
		width: calc(100% - var(--sidebar-width));
	}
	
	.loginFrame
	{
		position: fixed;
		top:0px;
		/* background: black;  */
		background: var(--gradient);
		height: 100%;
		width: 100%;
		z-index: 100;
	}
	
	#loginButton 
	{
		position: absolute;
		margin: 15% 40%;
		display: flex;
		padding: 25px 30px;
		transition: 0.5s;
        user-select: none;
		cursor: pointer;
	}
	
	#loginButton a, #loginButton i
	{
		font-size: 32px;
		font-family: 'Poppins';
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	#loginButton:hover {
	  background: var(--orange2);
	  box-shadow: 0 0 2px var(--orange2), 0 0 12px var(--orange2), 0 0 25px var(--orange2), 0 0 100px var(--orange2);
	  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
	}

	#loginButton:nth-child(1) {
	  filter: hue-rotate(270deg);
	}

	#loginButton:nth-child(2) {
	  filter: hue-rotate(110deg);
	}
	
	#loginButton span {
	  position: absolute;
	  display: block;
	}

	#loginButton span:nth-child(1)
	{
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 2px;
	  background: linear-gradient(90deg, transparent, var(--orange2));
	  animation: animate1 1s linear infinite;
	}

	@keyframes animate1
	{
	  0% {
		left: -100%;
	  }
	  50%,
	  100% {
		left: 100%;
	  }
	}

	#loginButton span:nth-child(2)
	{
	  top: -100%;
	  right: 0;
	  width: 2px;
	  height: 100%;
	  background: linear-gradient(180deg, transparent, var(--orange2));
	  animation: animate2 1s linear infinite;
	  animation-delay: 0.25s;
	}

	@keyframes animate2
	{
	  0% {
		top: -100%;
	  }
	  50%,
	  100% {
		top: 100%;
	  }
	}

	#loginButton span:nth-child(3)
	{
	  bottom: 0;
	  right: 0;
	  width: 100%;
	  height: 2px;
	  background: linear-gradient(270deg, transparent, var(--orange2));
	  animation: animate3 1s linear infinite;
	  animation-delay: 0.5s;
	}

	@keyframes animate3
	{
	  0% {
		right: -100%;
	  }
	  50%,
	  100% {
		right: 100%;
	  }
	}

	#loginButton span:nth-child(4)
	{
	  bottom: -100%;
	  left: 0;
	  width: 2px;
	  height: 100%;
	  background: linear-gradient(360deg, transparent, var(--orange2));
	  animation: animate4 1s linear infinite;
	  animation-delay: 0.75s;
	}

	@keyframes animate4
	{
	  0% {
		bottom: -100%;
	  }
	  50%,
	  100% {
		bottom: 100%;
	  }
	}


	
/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

    .sidebar
    {
        position: fixed;
        left: 0%;
        top: 0%;
        height: 100%;
        width: 0;
        background: var(--grad1);
        padding: 0px 0px;
        z-index: 99;
        transition: all 0.3s ease;
    }
    
    .sidebar.open
    {
        width: var(--sidebar-width);
        padding: 2px 8px;
    }

	
	.sidebar .sidebar-content * :not(.sidebar #sidebar-btn)	
    {
        opacity: 0;
    }
	
    .sidebar.open .sidebar-content * :not(.sidebar #sidebar-btn)	
    {
        opacity: 1;
    }
    
    .sidebar .sidebar-content .sidebar-logo-details
    {
        height: 60px;
		display: flex;
		align-items: center;
		position: relative;
		left: 3rem;
    }
    
    .sidebar-logo_name
    {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }
    
    .sidebar #sidebar-btn
    {
        position: absolute;
        right: 0;
        font-size: 44px;
        cursor: pointer;
    }
    
    .sidebar.open #sidebar-btn
    {
        right: 3rem;
        font-size: 22px;
    }
    
    .sidebar .sidebar-content i
    {
        color: #fff;
        height: 60px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
    }
    
    .sidebar .sidebar-content .nav-list .nav-settings
    {
        margin-top: 20px;
        height: 100%;
    }
    
    .sidebar .sidebar-content h3
    {
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: thin;
        text-align: center;
    }
    
    .sidebar .sidebar-content li
    {
        position: relative;
        margin: 8px 0;
        list-style: none;
    }
    
    .sidebar .sidebar-content li .tooltip
    {
        position: absolute;
        top: -20px;
        left: calc(100% + 15px);
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
    }
    
    .sidebar .sidebar-content li:hover .tooltip
    {
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .sidebar.open li .tooltip
    {
        display: none;
    }
    
    .sidebar .sidebar-content input
    {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
        outline: none;
        height: 50px;
        width: 100%;
        border: none;
        border-radius: 12px;
        transition: all 0.5s ease;
        background: #1d1b31;
    }
    
    .sidebar.open input
    {
        padding: 0 20px 0 20px;
        width: 100%;
    }
    
    .radio
    {
        display: flex;
        overflow: auto;
    }
    
    .radio input
    {
        height: 1rem;
        width: 1rem;
    }
    
    .radio img
    {
        height: 20px;
        margin-right: 10px;
        width: 20px;
    }
    
    .sidebar .sidebar-content .bx-search
    {
        position: absolute;
		right: 0;
		font-size: 22px;
		background: #1d1b31;
		color: #fff;
    }
    
    .sidebar.open .bx-search:hover
    {
        background: #1d1b31;
        color: #fff;
    }
    
    .sidebar .sidebar-content .bx-search:hover
    {
        background: #fff;
        color: #11101d;
    }
    
    .sidebar .sidebar-content li a
    {
        display: flex;
        height: 3rem;
        width: 100%;
        border-radius: 12px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        background: #11101d;
        overflow: hidden;
    }
    
    .sidebar .sidebar-content li a:hover
    {
        background: var(--grad2);
    }
    
    .sidebar .sidebar-content li a .links_name
    {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        pointer-events: none;
        transition: 0.4s;
    }
    
    .sidebar.open li a .links_name
    {
        pointer-events: auto;
    }
    
    .sidebar .sidebar-content li a:hover .links_name,
    .sidebar .sidebar-content li a:hover i
    {
        transition: all 0.5s ease;
        color: #11101d;
    }
    
    .sidebar .sidebar-content li i
    {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-radius: 12px;
    }
    
    .sidebar .sidebar-content li img
    {
        object-fit: cover;
        border-radius: 6px;
        margin-right: 10px;
    }
    
    .sidebar.open ~ .main-content
    {
        left: 250px;
        width: calc(100% - 250px);
    }
    
    .sidebar-settings
    {
        position: relative;
        top: 40px;
        width: 95%;
    }
    
    .bx-bookmark-minus
    {
        position: absolute;
        right: 0;
    }
    
    .bx-info-circle
    {
        cursor: help;
        font-size: 1.2rem;
    }
    .bx-info-circle .info
    {
        display: none;
        z-index: 1;
    }
    
    .bx-info-circle:hover .info
    {
        bottom: 2rem;
        border: solid white 2px;
        display: block;
        left: 30vw;
        position: absolute; 
    }
    
    .bx-search
    {
        cursor: pointer;
    }
    
    #playerBucket .links_name
    {
        margin-right: 2rem;
        overflow: hidden;
    }
    
/*********************************************************************************/
/* Loading Icon                                                                  */
/*********************************************************************************/
    .loader-wrapper
    {
        align-items: flex-start;
        background-color: #11101D;
        display:flex;
        height: 104vh;
        justify-content: center;
        left: 0;
        margin-top: -2%;
        margin-bottom: -2%;
        position: sticky;
        top: 0;
        width: 100vw;
        z-index: 100;
    }
    
    .loader
    {
        animation: loader 2s infinite ease;
        border: 4px solid #Fff;
        display: inline-block;
        height: 50px;
        justify-content: center;
        margin-top: 50vh;
        position: sticky;
        width: 50px;
    }

    .loader-inner
    {
        animation: loader-inner 2s infinite ease-in;
        background-color: #fff;
        display: inline-block;
        vertical-align: top;
        width: 100%; 
    }

    @keyframes loader
    {
        0% { transform: rotate(0deg);}
        25% { transform: rotate(180deg);}
        50% { transform: rotate(180deg);}
        75% { transform: rotate(360deg);}
        100% { transform: rotate(360deg);}
    }

    @keyframes loader-inner
    {
        0% { height: 0%;}
        25% { height: 0%;}
        50% { height: 100%;}
        75% { height: 100%;}
        100% { height: 0%;}
    }
