@charset 'UTF-8';
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

    *
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		scroll-behavior:smooth;
		accent-color: #BA25F6;
	}
	
	body,
	h4
	{
		background-color: #2b2b2b;	
		background-size: cover;
		color: #fff;
		color: rgba(255,255,255,0.95);
		font-family: 'Poppins';
		font-weight: 200;
		position: relative;
	}
	
    body:after,
    h4:after
		{
			background: url('images/overlay.png');
            content: '';
			height: 100%;
			left: 0;
            position: absolute;
			top: 0;
			width: 100%;		
		}

	a
	{
		color: #fff;
		color: rgba(255,255,255,0.85);
	}

	h1
	{
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: thin;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        padding-bottom: 1rem;
        padding-top: 2.5rem;
        text-align: center; 
	}
	
	h2,h5,h6
	{
        color: #fff;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;  
	}
	
	h3
	{
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
	}
	
	h4
	{
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
        position: sticky;
        text-align: center;
        top: 0;
        z-index: 97;
    }
    
    h4 img
    {
        margin-left: 20px;
		margin-right: 20px;
		vertical-align: middle;
    }
	
	strong, b
	{
		font-weight: 300;
	}
	
    
	
/*********************************************************************************/
/* Classes                                                                       */
/*********************************************************************************/
	
	.avatar
	{
		height: 40px;
		margin-right: 1rem;
		width: 40px;
	}
	
	.charList
	{
		display:flex;
		justify-content: space-evenly;
	}
	
	.charEmblemImg
    {
        height: 96px;
        position: relative;
        width: 474px;
    }
    
    .charEmblemClass
    {
        font-size: 1.5rem;
        font-weight: 400;
        position: absolute;
        text-shadow: 0.05rem 0.05rem #11101d;
        left: 20%;
        top: 10%;    
    }
    
    .charEmblemLvl
    {
        color: #FFFF97;
        font-size: 2rem;
        font-weight: 400;
        position: absolute;
        right: 3%;
        top: 3%;
        text-shadow: 0.05rem 0.05rem #11101d;
    }
    
    .charStats
	{
		background: rgba(200, 200, 200, .1);
		text-align: center;
		width:474px;
	}
	
	.charStats img
    {
		vertical-align: middle;
        cursor: help;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.1rem;
    }
    
    .itemIconContainer
    {
        cursor: help;
        float: left;
        height: 80px;
        position: relative;
        width: 80px;
        z-index: 0;
    }
    
    #no1
    {
        border: double 4px #fff;
    }
    
    .itemIconContainer > img
    {
        border-radius: 10%;
        height: 70px;
        margin: 5px 5px;
        vertical-align: middle;
        width: 70px;
    }
    
    .itemIconContainer > img.cross
    {
        opacity: 50%;
    }
    
    .itemIconStatus
    {
        position:absolute;
        right: 0;
        top: 0; 
        z-index: 1;
    }
    
    .itemIconStatus > img
    {
         height: 20px;
         width: 20px;
    }
	
	.language-options
	{
		background-color: white;
		border-radius: 12px;
		color: #11101d;
		display: none;
		left: 20rem;
		position: absolute;
		text-align: center;
		top: 1rem;
		width: 15rem;
	}
	
	.language-options.open
	{
		display: block;
	}
	
	.lang-opt
	{
		cursor: pointer;
		line-height: 3rem;
	}
	
	.lang-opt:hover, .lang-opt.act
	{
		background-color: #11101d;
		border-radius: 12px;
		color: white;
	}
	
	.bx-world
	{
		cursor: pointer;
		font-size: 22px;
		position: absolute;
		right: 2rem;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.4s ease;
	}
	
	.platformLogo
	{
		 height: 20px;
         width: 20px;
	}
	
	.playerBucket
	{
		margin-left: -75px;
	}
    

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: #2d2d2d;
		color: #fff;
        position: relative;
	}

		#header:before
		{
			background: url('images/overlay.png');
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	   padding-left: 20rem;
	   padding-top: 2rem;
       position: relative;
	   width: 100%;
       z-index: 1;
	}
	
/*********************************************************************************/
/* Button                                                                          */
/*********************************************************************************/

    .button
    {
      align-items: center;
      border: 2px solid #FFF;
      border-radius: 12px;
      color: #FFF;
      display: inline-flex;
      font-size: 1rem;
      font-weight: 400;
      height: 3em;
      justify-content: center;
      margin: 20px 20px 20px 20px;
      overflow: hidden;
      text-decoration: none;
      width: 150px;
    }

    a
    {
      color: #FFF;
      letter-spacing: 1px;
      text-decoration: none;
    }

    #button
    {
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 3rem;
      z-index: 98;
    }

    #button a
    {
      position: relative;
      transition: all .35s ease-Out;
    }
    
    #slide
    {
      background: #FFF;
      bottom: 0;
      height: 100%;
      left: 300px;
      position: absolute;
      transition: all .35s ease-Out;
      width: 100%;
    }
    
    #button:hover #slide
    {
      left: 0;
    }
    
    #button:hover a
    {
      color: #11105F;
    }
	
/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

    .sidebar
    {
        position: fixed;
        left: 0%;
        top: 0%;
        height: 100%;
        width: 10rem;
        background: #11101d;
        padding: 2px 8px;
        z-index: 99;
        transition: all 0.3s ease;
    }
    
    .sidebar.open
    {
        width: 20rem;
    }
    
    .sidebar .sidebar-logo-details
    {
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0px 2.5rem;
    }
    
    .sidebar .sidebar-logo-details .sidebar-icon
    {
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .sidebar .sidebar-logo-details .sidebar-logo_name
    {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .sidebar.open .sidebar-logo-details .sidebar-icon,
    .sidebar.open .sidebar-logo-details .sidebar-logo_name
    {
        opacity: 1;
    }
    
    .sidebar .sidebar-logo-details #sidebar-btn
    {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 22px;
        transition: all 0.4s ease;
        text-align: center;
        cursor: pointer;
    }
    
    .sidebar.open .sidebar-logo-details #sidebar-btn
    {
        text-align: right;
    }
    
    .sidebar i
    {
        color: #fff;
        height: 60px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
    }
    
    .sidebar .nav-list .nav-settings
    {
        margin-top: 20px;
        height: 100%;
    }
    
    .sidebar h3
    {
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: thin;
        text-align: center;
    }
    
    .sidebar li
    {
        position: relative;
        margin: 8px 0;
        list-style: none;
    }
    
    .sidebar li .tooltip
    {
        position: absolute;
        top: -20px;
        left: calc(100% + 15px);
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
    }
    
    .sidebar li:hover .tooltip
    {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .sidebar.open li .tooltip
    {
        display: none;
    }
    
    .sidebar input
    {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
        outline: none;
        height: 50px;
        width: 100%;
        border: none;
        border-radius: 12px;
        transition: all 0.5s ease;
        background: #1d1b31;
    }
    
    .sidebar.open input
    {
        padding: 0 20px 0 20px;
        width: 100%;
    }
    
    .radio
    {
        display: flex;
        overflow: auto;
    }
    
    .radio input
    {
        height: 1rem;
        width: 1rem;
    }
    
    .radio img
    {
        height: 20px;
        margin-right: 10px;
        width: 20px;
    }
    
    .sidebar .bx-search
    {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 22px;
        background: #1d1b31;
        color: #fff;
    }
    
    .sidebar.open .bx-search:hover
    {
        background: #1d1b31;
        color: #fff;
    }
    
    .sidebar .bx-search:hover
    {
        background: #fff;
        color: #11101d;
    }
    
    .sidebar li a
    {
        display: flex;
        height: 3rem;
        width: 100%;
        border-radius: 12px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        background: #11101d;
        overflow: hidden;
    }
    
    .sidebar li a:hover
    {
        background: #fff;
    }
    
    .sidebar li a .links_name
    {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
    }
    
    .sidebar.open li a .links_name
    {
        opacity: 1;
        pointer-events: auto;
    }
    
    .sidebar li a:hover .links_name,
    .sidebar li a:hover i
    {
        transition: all 0.5s ease;
        color: #11101d;
    }
    
    .sidebar li i
    {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-radius: 12px;
    }
    
    .sidebar li img
    {
        object-fit: cover;
        border-radius: 6px;
        margin-right: 10px;
    }
    
    .sidebar.open ~ .main-content
    {
        left: 250px;
        width: calc(100% - 250px);
    }
    
    .sidebar-settings
    {
        position: relative;
        top: 40px;
        width: 95%;
    }
    
    .bx-bookmark-minus
    {
        position: absolute;
        right: 0;
    }
    
    .bx-info-circle
    {
        cursor: help;
        font-size: 1.2rem;
    }
    .bx-info-circle .info
    {
        display: none;
        z-index: 1;
    }
    
    .bx-info-circle:hover .info
    {
        bottom: 2rem;
        border: solid white 2px;
        display: block;
        left: 30vw;
        position: absolute; 
    }
    
    .bx-search
    {
        cursor: pointer;
    }
    
    #playerBucket .links_name
    {
        margin-right: 2rem;
        overflow: hidden;
    }
    
/*********************************************************************************/
/* Loading Icon                                                                  */
/*********************************************************************************/
    .loader-wrapper
    {
        align-items: flex-start;
        background-color: #11101D;
        display:flex;
        height: 104vh;
        justify-content: center;
        left: 0;
        margin-top: -2%;
        margin-bottom: -2%;
        position: sticky;
        top: 0;
        width: 100vw;
        z-index: 100;
    }
    
    .loader
    {
        animation: loader 2s infinite ease;
        border: 4px solid #Fff;
        display: inline-block;
        height: 50px;
        justify-content: center;
        margin-top: 50vh;
        position: sticky;
        width: 50px;
    }

    .loader-inner
    {
        animation: loader-inner 2s infinite ease-in;
        background-color: #fff;
        display: inline-block;
        vertical-align: top;
        width: 100%; 
    }

    @keyframes loader
    {
        0% { transform: rotate(0deg);}
        25% { transform: rotate(180deg);}
        50% { transform: rotate(180deg);}
        75% { transform: rotate(360deg);}
        100% { transform: rotate(360deg);}
    }

    @keyframes loader-inner
    {
        0% { height: 0%;}
        25% { height: 0%;}
        50% { height: 100%;}
        75% { height: 100%;}
        100% { height: 0%;}
    }