body,
html {
  align-items: center;
  background-color: #0c1016;
  display: flex;
  font-family: "Roboto";
  font-size: 10px;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .search.open {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
header .search.open .close-button {
  display: block;
}
header .search.open .searchbar form input[type=search] {
  border-bottom: 1px solid white;
  width: 100%;
  color: white;
}
header .search.open .searchbar form button img {
  opacity: 1;
}
header .search .searchbar {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
}
header .search .searchbar form {
  width: 100%;
}
header .search .searchbar form input[type=search] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  font-size: 3rem;
  padding: 1rem 3rem 1rem 0;
  width: 0;
  -webkit-appearance: none;
}
header .search .searchbar form input[type=search]:focus {
  outline: none;
  color: white;
}
header .search .searchbar form input[type=search]::-webkit-search-cancel-button {
  display: none;
}
header .search .searchbar form button {
  position: absolute;
  right: 0;
  top: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header .search .searchbar form button:focus {
  outline: none;
  color: white;
}
header .search .searchbar form button:focus img {
  opacity: 1;
}
header .search .searchbar form button img {
  transition: all 250ms;
  opacity: 0.2;
  width: 2rem;
}
header .search .close-button {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
header .search .close-button:focus {
  outline: none;
  color: white;
}
header .search .close-button img {
  transition: all 250ms;
  opacity: 1;
  width: 2rem;
}
