/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  background: #2b2b2b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 5%;
  height: 90%;
  width: 10rem;
  background: #11101d;
  padding: 2px 8px;
  z-index: 99;
  transition: all 0.3s ease;
}
.sidebar.open {
  width: 20rem;
}
.sidebar .sidebar-logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px 2.5rem;
}
.sidebar .sidebar-logo-details .sidebar-icon {
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar .sidebar-logo-details .sidebar-logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar.open .sidebar-logo-details .sidebar-icon,
.sidebar.open .sidebar-logo-details .sidebar-logo_name {
  opacity: 1;
}
.sidebar .sidebar-logo-details #sidebar-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  text-align: center;
  cursor: pointer;
}
.sidebar.open .sidebar-logo-details #sidebar-btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list .nav-settings {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar.open ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
}
.sidebar-settings {
  position: absolute;
  bottom: 0px;
  width: 95%;
}
.profile {
  position: fixed;
  height: 34px;
  width: 240px;
  right: 0px;
  top: 0px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: right;
  flex-wrap: nowrap;
  z-index: 99;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.profile .name {
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  white-space: nowrap;
}
.profile .plattform {
  text-align: right;
  font-size: 11px;
  font-weight: 200;
  color: #fff;
  white-space: nowrap;
}
.profile #profilePlat {
  bottom: -2px;
  position: relative;
  height: 14px;
  width: 14px;
  transition: all 0.5s ease;
  flex-wrap: nowrap;
  z-index: 1;
}
.profile #profilePic {
  position: relative;
  top: 3px;
  left: 5px;
  height: 30px;
  width: 30px;
  transition: all 0.5s ease;
  flex-wrap: nowrap;
  z-index: 1;
}
.profile #logout {
  position: relative;
  padding: 9px 16px;
  transform: scale(250%);
  transition: all 0.5s ease;
}
.main-content {
  position: relative;
  background: #2b2b2b;
  min-height: 100vh;
  top: 0;
  left: 5%;
  width: calc(100% - 5%);
  transition: all 0.5s ease;
  z-index: 2;
}
.main-content .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
.main-header {
  border: 1px solid black;
  position: relative;
  left: 5%;
  width: 90%;
  text-align: center;
}
.list-header-playername {
  text-align: center;
}
.list-header-char1 {
  text-align: left;
}
.list-header-char2 {
  text-align: center;
}
.list-header-char3 {
  text-align: right;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
