/* Sidebar */

#sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: #202020;
  color: #fff;
  overflow: auto;
}

.search-container {
  padding: 20px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
}

#search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search-results li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
}

#search-results li a:hover {
  background-color: #ddd;
  color: #000;
}

.navigation-container {
  padding: 20px;
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
}

.navigation li a:hover {
  background-color: #ddd;
  color: #000;
}

/* Main */

#main {
  margin-left: 200px;
  padding: 20px;
}

.header {
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 36px;
}

.character-select-container {
  margin-bottom: