/*********************************************************************************/
/* Boxicons special styling													     */
/*********************************************************************************/

	.bx-bookmark-minus
	{
		position: absolute;
		margin: 0 10px 0 0;
		right: 0;
	}
	
	.bx-info-circle
	{
		cursor: help;
		font-size: 1.2rem;
	}
	.bx-info-circle .info
	{
		display: none;
		z-index: 1;
	}
	
	.bx-info-circle:hover .info
	{
		bottom: 2rem;
		border: solid white 2px;
		display: block;
		left: 30vw;
		position: absolute; 
	}
	
	.bx-search
	{
		cursor: pointer;
		margin: 0 20px 0 0;
	}
	
	.bx-search:hover
	{
		background: var(--grad1);
		color: #fff;
	}
	
	.sidebar .sidebar-content .bx-search
	{
		position: absolute;
		right: -10px;
		font-size: 22px;
		background: var(--grad1);
		color: #fff;
	}
	
	.bx.bx-x:hover {
		color: red;
		cursor: pointer;
	}