/*********************************************************************************/
/* Login																		 */
/*********************************************************************************/
	
		.loadingFrame
	{
		display: block;
		position: fixed;
		top:0px;
		/* background: black;  */
		background: black;
		opacity: 0.7; 
		height: 100%;
		width: 100%;
		z-index: 100;
	}
	
	.loadingFrame.closed
	{
		display: none;
	}
	
	.loginFrame
	{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 100;
	}
	
	.loginFrame.closed
	{
		display: none;
	}
	
	.loginOverlay
	{
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: 101;
	}
	
	.loginWindow
	{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 50%;
		background: var(--gradient);
		border-radius: 12px;
		z-index: 102;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
		backdrop-filter: blur(10px);
		border: 1px solid rgba(255, 255, 255, 0.1);
	}
	
	.loginContent
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	
	#loginButton 
	{
		position: relative;
		display: flex;
		padding: 25px 30px;
		transition: 0.5s;
		user-select: none;
		cursor: pointer;
	}
	
	#loginButton a, #loginButton i
	{
		font-size: 32px;
		font-family: 'Poppins';
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	#loginButton:hover {
	  background: var(--orange2);
	  box-shadow: 0 0 2px var(--orange2), 0 0 12px var(--orange2), 0 0 25px var(--orange2), 0 0 100px var(--orange2);
	  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
	}

	#loginButton:nth-child(1) {
	  filter: hue-rotate(270deg);
	}

	#loginButton:nth-child(2) {
	  filter: hue-rotate(110deg);
	}
	
	#loginButton span {
	  position: absolute;
	  display: block;
	}

	#loginButton span:nth-child(1)
	{
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 2px;
	  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8));
	  animation: animate1 1s linear infinite;
	}

	@keyframes animate1
	{
	  0% {
		left: -100%;
	  }
	  50%,
	  100% {
		left: 100%;
	  }
	}

	#loginButton span:nth-child(2)
	{
	  top: -100%;
	  right: 0;
	  width: 2px;
	  height: 100%;
	  background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.8));
	  animation: animate2 1s linear infinite;
	  animation-delay: 0.25s;
	}

	@keyframes animate2
	{
	  0% {
		top: -100%;
	  }
	  50%,
	  100% {
		top: 100%;
	  }
	}

	#loginButton span:nth-child(3)
	{
	  bottom: 0;
	  right: 0;
	  width: 100%;
	  height: 2px;
	  background: linear-gradient(270deg, transparent, rgba(255, 255, 255, 0.8));
	  animation: animate3 1s linear infinite;
	  animation-delay: 0.5s;
	}

	@keyframes animate3
	{
	  0% {
		right: -100%;
	  }
	  50%,
	  100% {
		right: 100%;
	  }
	}

	#loginButton span:nth-child(4)
	{
	  bottom: -100%;
	  left: 0;
	  width: 2px;
	  height: 100%;
	  background: linear-gradient(360deg, transparent, rgba(255, 255, 255, 0.8));
	  animation: animate4 1s linear infinite;
	  animation-delay: 0.75s;
	}

	@keyframes animate4
	{
	  0% {
		bottom: -100%;
	  }
	  50%,
	  100% {
		bottom: 100%;
	  }
	}